name: CI
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:      
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Collect Workflow Telemetry
        uses: runforesight/foresight-workflow-kit-action@v1
        if: success() || failure()
        with:
          api_key: ${{ secrets.FORESIGHT_KEY }}    
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm ci
      - run: npm run lint
      - run: npm run test
      - run: npx jest --coverage --coverageReporters=cobertura
      - name: Analyze Test and/or Coverage Results
        uses: runforesight/foresight-test-kit-action@v1
        if: success() || failure()
        with:
          api_key: ${{ secrets.FORESIGHT_KEY }}
          test_format: JUNIT
          test_framework: JEST
          test_path: ./__tests__
          coverage_path: ./coverage
          coverage_format: COBERTURA/XML
